<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>My eCommerce Store</h1>
  <div class="products">
    <% products.forEach(product => { %>
      <div class="product-card">
        <img src="<%= product.img %>" alt="<%= product.name %>">
        <h2><%= product.name %></h2>
        <p>$<%= product.price %></p>
        <button onclick="addToCart('<%= product.name %>')">Add to Cart</button>
      </div>
    <% }) %>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
